body {
    background-color: #44BBA4;
    color: whitesmoke;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}
button {
    padding: 5px 20px;
    background-color: #153B50;
    color: whitesmoke;
    border-style: none;
    text-align: center;
}